/* Root */
:root {
  --clr-dark-cyan: hsl(158, 36%, 37%) ;
  --clr-Cream: hsl(30, 38%, 92%);
  --clr-Very-dark-blue: hsl(212, 21%, 14%);
  --clr-Dark-grayish-blue: hsl(228, 12%, 48%);
}


/* reset */
  
*, *::before, *::after {
  box-sizing: border-box;
}
  
* {
  margin: 0;
}

body {
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
  
input, button, textarea, select {
  font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
  
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Styles */

body {
  background-color: var(--clr-Cream);
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 343px;
}


.card {
  border-radius: 0.75rem;
  overflow: hidden;
}

@media (min-width: 1440px) {
  main {
    width: 632px;
  }
  .card__content {
    width: 352px;
    padding: 0rem;
  }
  .card {
    display: flex;
    flex-direction: row;
  }
  
  img {
    width: 280px;
  }
}

.card__content {
  display: grid;
  background-color: white;
  padding: 1.5rem;
  font-family: montserrat , sans-serif ;
  color: var(--clr-Dark-grayish-blue);

} 

.card__category {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 5px;
}

.card__title {
  font-family: fraunces , sans-serif;
  font-size: 2rem;
  line-height: 1;
  color: var(--clr-Very-dark-blue);
  margin-top: .5rem;
}

.card__description {
  font-size: 0.875rem;
  margin-top: .75rem;
  font-weight: 500;
  line-height: 1.75;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.current-price {
  font-family: fraunces , sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-dark-cyan);
}

.actual-price {
  font-size:.875rem ;
}

button {
 background-color: var(--clr-dark-cyan);
 color: white;
 border: none;
 padding: 0.75rem;
 display: flex;
 justify-content: center;
 gap: 0.5rem;
 font-size: .875rem ;
 font-weight: 600;
 border-radius: 0.5rem;
 margin-top: 0.75rem;
}

button::before {
  content:url(images/icon-cart.svg);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}